@(account: Account)

@main(account) {


    <ng-view/>

    <script src="@routes.Assets.versioned("js/harvester.js")"></script>

    <script src="@routes.Assets.versioned("js/components/guestlist/guestlist.js")"></script>

    <script src="@routes.Assets.versioned("js/components/guest/newguest.js")"></script>

    <script src="@routes.Assets.versioned("js/components/guest/editguest.js")"></script>

    <script src="@routes.Assets.versioned("js/components/guest/guestwidget.js")"></script>

    <script src="@routes.Assets.versioned("js/components/eventlist/eventlist.js")"></script>

    <script src="@routes.Assets.versioned("js/components/event/newevent.js")"></script>

    <script src="@routes.Assets.versioned("js/components/event/editevent.js")"></script>

    <script src="@routes.Assets.versioned("js/components/event/eventwidget.js")"></script>


    <script src="@routes.Assets.versioned("js/components/note/newnote.js")"></script>

    <script src="@routes.Assets.versioned("js/components/note/editnote.js")"></script>

    <script src="@routes.Assets.versioned("js/components/note/notewidget.js")"></script>

    <script src="@routes.Assets.versioned("js/components/notes/notelist.js")"></script>



}